

.nav-link {
  opacity: 0.7;
  img {
    width: 16px;
    height: 16px;
  }

  &:hover {
    opacity: 1;
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}


.popover-follow-channel {
  min-width: 800px;
}